#topdiv {
    top: 0%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-top: 20px;
    margin-left: -350px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: fixed;
}

#leftdiv {
    top: 50%;
    left: 20%;
    width: 200px;
    height: 700px;
    margin-top: -350px;
    margin-left: 0px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: fixed;
}

#rightdiv {
    top: 50%;
    right: 20%;
    width: 200px;
    height: 700px;
    margin-top: -350px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: fixed;
}

#bottomdiv {
    bottom: 0%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-bottom: 10px; 
    margin-left: -350px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: fixed;
}

#middlediv {
    top: 50%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-top: -100px;
    margin-left: -350px;
    position: fixed;
}

.cardHorizontal {
    display: inline-block;
    margin-top: 20px;
}

.cardVerticalLeft {
    display: flow-root;
    margin-top: 10px;
    margin-left: 50px;
    transform: rotate(90deg);
}

.cardDivContainerVertical {
    display: inline-block;
    height: 70px
}

.cardDivContainerHorizontal {
    display: inline-block;
    width: 70px
}

.cardDivContainerMiddle {
    display: inline-block;
    width: 50px
}

.cardVerticalRight {
    display: flow-root;
    margin-top: 10px;
    margin-left: 50px;
    transform: rotate(-90deg);
}

.cardMiddleHorizontal {
    display: inline-block;
    margin-top: 20px;
    margin-left: 250px;
    transform: rotate(-30deg);
}

#cubediv {
    top: 230px;
    left: 10px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 40px;
    position: fixed;
}

#middlediv {
    margin-left: -100px;
    width: 0;
    width: 200px;
    background: none; 
} 

.cardDivContainerMiddle {
    position: absolute;
    margin-left: 50px;
}

.cardDivContainerVertical, .cardDivContainerHorizontal, #deckdiv, #unobuttondiv {
    cursor: pointer;
}

#topdiv, #leftdiv, #rightdiv, #bottomdiv, #cubediv {
    overflow: overlay;
}

#deckdiv {
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -350px;
    position: fixed;
}

#deckdiv img {
    width: 150px;
}

#cubediv {
    top: 45%;
    left: 50%;
    margin-top: -117px;
    margin-left: 220px;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

#cubediv img {
    width: 50px;
}

#bottomdiv {
    width: 700px;
    height: 200px;
    overflow: hidden;
    margin-left: -350px;
}

#bottomdiv div{
    position: relative;
    margin-left: 20px;
}

#bottomdiv .cardDivContainerHorizontal{
    position: absolute;
}

#unobuttondiv {
    bottom: 25%;
    left: 50%;
    margin-top: 40px;
    margin-left: 250px;
    position: fixed;
}

#messagediv {
    bottom: 25%;
    left: 30%;
    margin-top: 40px;
    margin-left: 30px;
    position: fixed;
}

#disputeButtons {
    bottom: 26%;
    left: 36%;
    margin-top: 20px;
    margin-left: 200px;
    position: fixed;
}

#messagep {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#arrowsdiv {
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    position: fixed;
}

#arrowsimg {
    width: 300px;
    height: 300px;
}

@keyframes moveToCenter {
    0%   {margin-top: 286px;}
    100% {margin-top: 20px;}
}


.moveToCenter {
    animation-name: moveToCenter;
    animation-duration: 2s;
}

.rightRotation {
    animation-name: rightRotate; 
    animation-duration: 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.leftRotation {
    animation-name: leftRotate; 
    animation-duration: 8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rightRotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@keyframes leftRotate {
    from {transform: rotate(360deg);}
    to {transform: rotate(0);}
}

.cardDivContainerVertical {
    margin-top: -35px;
}

.cardDivContainerVertical:first-child {
    margin-top: 0px;
}

#topdiv .cardDivContainerHorizontal {
    margin-left: -35px; 
}

#topdiv .cardDivContainerHorizontal:first-child {
    margin-left: 0px; 
}

.playerName {
    color: black;
    font-weight: bold;
}