<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <h1>Uno Game</h1>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input class="form-control" id="username" v-model="username">
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="addPlayer()">Submit</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Player</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="player in players">
                        <td>{{player.UserName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css">
<script src="vendor/moment.min.js"></script>
<script src="vendor/vue.js"></script>
<script src="vendor/vue-router.js"></script>
<script src="vendor/axios.js"></script>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/lodash.js"></script>
<script src="vendor/jquery-1.6.4.min.js"></script>
<script src="vendor/jquery.signalR-2.3.0.min.js"></script>
<script src="http://localhost:9000/signalr/hubs"></script>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            username: "",
            players: [],
            playerHub: {}
        },
        created() {
            this.getPlayers();

            var vm = this;
            $.connection.hub.url = 'http://localhost:9000/signalr';
            this.playerHub = $.connection.playerHub;

            this.playerHub.client.updateUsers = function(users) {
                vm.refreshPlayers(users);
            }

            $.connection.hub.start();
        },

        methods: {
            getPlayers: function () {
                axios.get("/api/users")
                    .then((e) => {
                        this.players = e.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            addPlayer: function () {
                axios.post("/api/users/add",
                    {
                        username: this.username
                    })
                    .then((e) => {
                        this.playerHub.server.reloadUsers();
                        this.chat.server.send(this.name, this.message);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            send: function () {
                this.chat.server.send(this.name, this.message);
            },
            refreshPlayers: function (users) {
                this.players = users;
            }
        }
    });

</script>

