<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <div v-on:click="drawDeck()" id="deckdiv">
            <img src="resources/deck.jpg" />
        </div>
        <div v-show="showColorCube" id="cubediv">
            <img src="resources/cubeblue.png" v-on:click="selectColor('blue')" />
            <img src="resources/cubegreen.png" v-on:click="selectColor('green')" />
            <img src="resources/cubered.png" v-on:click="selectColor('red')" />
            <img src="resources/cubeyellow.png" v-on:click="selectColor('yellow')" />
        </div>
        <div id="unobuttondiv">
            <img src="resources/buttonUno.png" v-on:click="declareUno()" />
        </div>
        <div id="messagediv">
            <p id="messagep">{{this.game.Message}}</p>
        </div>
        <div v-show="showDisputeButtons" id="disputeButtons">
            <button type="button" class="btn btn-outline-primary" v-on:click="challengeDrawFour(true)">Yes</button>
            <button type="button" class="btn btn-outline-secondary" v-on:click="challengeDrawFour(false)">No</button>
        </div>
        <div v-if="player4" id="leftdiv" v-bind:style="setBgStylePlayer(4)">
            <div v-for="card in player4.Hand" class="cardDivContainerVertical">
                <div class="cardVerticalLeft" v-bind:class="[card.Value + '_' + card.Color]" v-on:click="selectCard(4,card)"></div>
            </div>
        </div>
        <div v-if="player3" id="topdiv" v-bind:style="setBgStylePlayer(3)">
            <div v-for="card in player3.Hand" class="cardDivContainerHorizontal">
                <div class="cardHorizontal" v-bind:class="[card.Value + '_' + card.Color]" v-on:click="selectCard(3,card)"></div>
            </div>
        </div>

        <div id="arrowsdiv">
            <img v-bind:src="arrowurl" />
        </div>

        <div v-if="game" id="middlediv" v-bind:style="getCurrentColor()">
            <div v-for="(card,index) in game.DiscardPile" class="cardDivContainerMiddle">
                <div class="cardHorizontal" v-bind:class="[card.Value + '_' + card.Color]" v-bind:style="setMiddleCard(index)"></div>
            </div>
        </div>

        <div v-if="player2" id="rightdiv" v-bind:style="setBgStylePlayer(2)">
            <div v-for="card in player2.Hand" class="cardDivContainerVertical">
                <div class="cardVerticalRight" v-bind:class="[card.Value + '_' + card.Color]" v-on:click="selectCard(2,card)"></div>
            </div>
        </div>
        <div v-if="player1" id="bottomdiv" v-bind:style="setBgStylePlayer(1)">
            <div>
                <div v-for="(card, index) in player1.Hand" class="cardDivContainerHorizontal">
                    <div class="cardHorizontal" v-bind:class="[card.Value + '_' + card.Color]" v-bind:style="setTransformCard(index, player1.Hand.length)" v-on:click="selectCard(1,card)"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<link rel="stylesheet" type="text/css" href="resources/main.css">
<link rel="stylesheet" type="text/css" href="resources/cards.css">
<link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css">
<script src="vendor/moment.min.js"></script>
<script src="vendor/vue.js"></script>
<script src="vendor/vue-router.js"></script>
<script src="vendor/axios.js"></script>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/lodash.js"></script>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            game: {},
            player1: {},
            player2: {},
            player3: {},
            player4: {},
            countDiscard: 1,
            showColorCube: false,
            currentCard: {},
            playerNum: 0,
            showDisputeButtons: false,
            arrowurl: "resources/time_reverse_arrows.png"
        },
        created() {
            this.createCardDesk();
        },

        methods: {
            setBgStylePlayer: function(num) {
                return this.game.CurrentPlayer != null && this.game.CurrentPlayer.Position === num
                    ? 'background-color:green'
                    : '';
            },
            createCardDesk: function() {
                axios.get("/api/game/start")
                    .then((e) => {
                        this.game = e.data;
                        this.setPlayers();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            selectCard: function(playerNum, card) {

                if (this.game.CurrentPlayer.Position !== playerNum)
                    return;

                if (card.Value === "Wild" || card.Value === "DrawFour") {
                    this.showColorCube = true;
                    this.playerNum = playerNum;
                    this.currentCard = card;
                    return;
                }

                if (card.Value == "Reverse")
                    this.arrowurl = this.arrowurl === "resources/time_reverse_arrows.png"
                        ? "resources/time_arrows.png"
                        : "resources/time_reverse_arrows.png";

                this.playerTurnExecute(playerNum, card, false);
            },
            setMiddleCard: function(index) {
                var deg = (((index * 10) + index) * 10) % 360;
                return "transform: rotate(" + deg + "deg);";
            },
            drawDeck: function() {
                axios.get("/api/game/drawDeck")
                    .then((e) => {
                        this.game = e.data;
                        this.setPlayers();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            playerTurnExecute: function(playerNum, card, isChallenge) {
                axios.post("/api/game/playerturn",
                    {
                        card: card,
                        num: playerNum,
                        isChallenge
                    })
                    .then((e) => {
                        this.game = e.data;
                        this.setPlayers();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            selectColor: function(color) {
                this.currentCard.Color = color;
                this.showColorCube = false;

                if (this.currentCard.Value === "DrawFour") {
                    this.game.Message = "Do you want to challenge ?";
                    this.showDisputeButtons = true;
                } else
                    this.playerTurnExecute(this.playerNum, this.currentCard, false);
            },
            setPlayers() {
                this.player1 = _.find(this.game.Players, function(x) { return x.Position === 1 });
                this.player2 = _.find(this.game.Players, function(x) { return x.Position === 2 });
                this.player3 = _.find(this.game.Players, function(x) { return x.Position === 3 });
                this.player4 = _.find(this.game.Players, function(x) { return x.Position === 4 });
            },
            getCurrentColor() {

                var color = this.currentCard.Color != null
                    ? this.currentCard.Color
                    : this.game.DiscardPile[this.game.DiscardPile.length - 1].Color;

                var setcolor = AdjustColors(color);

                return " border-color: " + setcolor;

            },
            setTransformCard(index, count) {
                
                index = index + 1; 

                if (!isOdd(count)) {
                    count = count + 1;
                }
                
                var middle = count / 2;
                var startLeft = middle;
                var left = index * 50 - startLeft*10;
                var top = Math.abs(index - middle) * 5;

                return "transform: rotate(" + (index - middle) * 5 + "deg); left:" + left + "px; top:" + top + "px";
            },
            challengeDrawFour: function (isChallenge) {
                this.showDisputeButtons = false;
                this.playerTurnExecute(this.playerNum, this.currentCard, isChallenge);
            }
        }
    });

    function isOdd(num) {
         return num % 2;
    }

    function AdjustColors(color) {
        var setcolor = "";

        switch (color.toLowerCase()) {
        case "red":
            setcolor = "#FF5555";
            break;
        case "yellow":
            setcolor = "#FFAA00";
            break;
        case "green":
            setcolor = "#55AA55";
            break;
        case "blue":
            setcolor = "#5555FF";
            break;
        }

        return setcolor;
    }
</script>

